<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Properties>
        <Property name="logs">${log4j:configParentLocation}/../logs</Property>
        <Property name="rollover.max.size">10MB</Property>
        <Property name="rollover.daily">0 0 0 * * ?</Property>
        <Property name="rollover.max">14</Property>
        <Property name="rollover.file.pattern">%d{yyyyMMddHHmmss}</Property>
        <Property name="rollover.daily.file.pattern">%d{yyyy-MM-dd}</Property>
        <Property name="elemental.file.pattern">%d [%t] %-5p (%F [%M]:%L) - %m%n</Property>
        <Property name="request.file.pattern">%m%n</Property>
    </Properties>
    
    <Appenders>
        
        <Console name="STDOUT">
            <PatternLayout pattern="%d{DATE} [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </Console>
        
        <RollingRandomAccessFile name="elemental.core" filePattern="${logs}/elemental.${rollover.file.pattern}.log.gz" fileName="${logs}/elemental.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${elemental.file.pattern}"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="elemental.locks" filePattern="${logs}/locks.${rollover.file.pattern}.log.gz" fileName="${logs}/locks.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="%d %-5p - %m %n"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="elemental.ensurelocking" filePattern="${logs}/locks.${rollover.file.pattern}.log.gz" fileName="${logs}/ensure-locking.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="%d %-5p - %m %n"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="elemental.xmldb" filePattern="${logs}/xmldb.${rollover.file.pattern}.log.gz" fileName="${logs}/xmldb.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${elemental.file.pattern}"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="elemental.xmlrpc" filePattern="${logs}/xmlrpc.${rollover.file.pattern}.log.gz" fileName="${logs}/xmlrpc.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${elemental.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="elemental.urlrewrite" filePattern="${logs}/urlrewrite.${rollover.file.pattern}.log.gz" fileName="${logs}/urlrewrite.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${elemental.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="elemental.profiling" filePattern="${logs}/profile.${rollover.file.pattern}.log.gz" fileName="${logs}/profile.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${elemental.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="elemental.scheduler" filePattern="${logs}/scheduler.${rollover.file.pattern}.log.gz" fileName="${logs}/scheduler.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${elemental.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="elemental.ehcache" filePattern="${logs}/ehcache.${rollover.file.pattern}.log.gz" fileName="${logs}/ehcache.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${elemental.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="elemental.restxq" filePattern="${logs}/restxq.${rollover.file.pattern}.log.gz" fileName="${logs}/restxq.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${elemental.file.pattern}"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="jetty.request" filePattern="${logs}/request.${rollover.daily.file.pattern}.log.gz" fileName="${logs}/request.log">
            <Policies>
                <CronTriggeringPolicy schedule="${rollover.daily}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${request.file.pattern}"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="elemental.backup" filePattern="${logs}/backup.${rollover.file.pattern}.log.gz" fileName="${logs}/backup.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${elemental.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="elemental.statistics" filePattern="${logs}/statistics.${rollover.file.pattern}.log.gz" fileName="${logs}/statistics.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${elemental.file.pattern}"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="expath.repo" filePattern="${logs}/expath-repo.${rollover.file.pattern}.log.gz" fileName="${logs}/expath-repo.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${elemental.file.pattern}"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="elemental.launcher" filePattern="${logs}/launcher.${rollover.file.pattern}.log.gz" fileName="${logs}/launcher.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="${rollover.max.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover.max}"/>
            <PatternLayout pattern="${elemental.file.pattern}"/>
        </RollingRandomAccessFile>
        
    </Appenders>
    
    <Loggers>

        <Logger name="org.exist.storage.lock.LockTable" additivity="false" level="info">    <!-- set to level="trace" to see lock activity -->
            <AppenderRef ref="elemental.locks"/>
        </Logger>

        <Logger name="org.exist.storage.lock.EnsureLockingAspect" additivity="false" level="trace">
            <AppenderRef ref="elemental.ensurelocking"/>
        </Logger>

        <Logger name="org.exist.util.sanity.SanityCheck" additivity="false" level="info">    <!-- set to level="trace" to enable all sanity check logging -->
            <AppenderRef ref="elemental.core"/>
        </Logger>

        <Logger name="org.exist.jetty.JettyStart" additivity="false" level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="elemental.core"/>
        </Logger>
        
        <Logger name="xquery.profiling" additivity="false" level="trace">
            <AppenderRef ref="elemental.profiling"/>
        </Logger>
        
        <Logger name="org.exist.statistics" additivity="false" level="info">
            <AppenderRef ref="elemental.statistics"/>
        </Logger>
        
        <Logger name="org.exist.backup.SystemExport" additivity="false" level="info">
            <AppenderRef ref="elemental.backup"/>
        </Logger>
        
        <Logger name="org.exist.xmldb" additivity="false" level="info">
            <AppenderRef ref="elemental.xmldb"/>
        </Logger>
        
        <Logger name="org.exist.xmlrpc" additivity="false" level="info">
            <AppenderRef ref="elemental.xmlrpc"/>
        </Logger>

        <Logger name="org.apache.xmlrpc" additivity="false" level="info">
            <AppenderRef ref="elemental.xmlrpc"/>
        </Logger>
        
        <Logger name="org.exist.http.urlrewrite" additivity="false" level="info">
            <!-- set to "trace" to get detailed info on URL rewriting -->
            <AppenderRef ref="elemental.urlrewrite"/>
        </Logger>
        
        <Logger name="org.exist.extensions.exquery.restxq" additivity="false" level="info">
            <AppenderRef ref="elemental.restxq"/>
        </Logger>

        <Logger name="org.eclipse.jetty.server.RequestLog" additivity="false" level="info">
            <AppenderRef ref="jetty.request"/>
        </Logger>

        <Logger name="org.eclipse.jetty" additivity="false" level="info">
            <AppenderRef ref="elemental.core"/>
        </Logger>
        
        <Logger name="httpclient" additivity="false" level="info">
            <AppenderRef ref="elemental.core"/>
        </Logger>
        
        <Logger name="net.sf.ehcache" additivity="false" level="info">
            <AppenderRef ref="elemental.ehcache"/>
        </Logger>
        
        <!-- Milton WebDAV framework -->
        <Logger name="com.bradmcevoy" additivity="false" level="info">
            <AppenderRef ref="elemental.core"/>
        </Logger>
        
        <!-- Apache Axis: 'debug' produces a large amount of debugging output -->
        <Logger name="org.apache" additivity="false" level="off">
            <AppenderRef ref="elemental.core"/>
        </Logger>
        
        <!-- Quartz scheduler -->
        <Logger name="org.quartz" additivity="false" level="info">
            <AppenderRef ref="elemental.scheduler"/>
        </Logger>
        
        <Logger name="org.exist.storage.SystemTask" additivity="false" level="debug">
            <AppenderRef ref="elemental.scheduler"/>
        </Logger>

        <!-- expath pkg repo -->
        <Logger name="org.expath.pkg" additivity="false" level="info">
            <AppenderRef ref="expath.repo"/>
        </Logger>
        <Logger name="org.exist.repo" additivity="false" level="info">
            <AppenderRef ref="expath.repo"/>
        </Logger>
        <Logger name="org.exist.launcher" additivity="false" level="warn">
            <AppenderRef ref="elemental.launcher"/>
        </Logger>
        
        <Root level="info">
            <AppenderRef ref="elemental.core"></AppenderRef>
        </Root>
        
    </Loggers>
    
</Configuration>
